[flake8]
# Recommended by Black
max-line-length = 88
extend-ignore =
    # Black
    E203,
    # Don't flag up Black whitespace
    E231,
    # Leave line lengths to Black
    E501,
    # https://www.flake8rules.com/rules/W503.html
    W503
extend-exclude =
    .build,
    .circleci,
    .github,
    .mypy_cache,
    .pytest_cache,
    .venv,
    docker-compose-envs,
    k8s,
    **/__init__.py,  # Deps are imported into the top namespace and fail for being 'unused'
    **/migrations,
    **/resources,
    **/static,
    **/templates,
application-import-names = tests,scripts
import-order-style = google
